<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipes</title>
</head>
<body>
<h1 th:text="'Recipe List'">My Recipes</h1>

<table>
    <thead>
    <tr>
        <th>Ingredients</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td>
            <ul th:each="ingredient : ${recipe.getIngredients()}">
                <li>
                    <p th:text="${ingredient?.getAmount()}"></p>
                    <p th:text="${ingredient?.getUom()?.getDescription()}"></p>
                    <p th:text="${ingredient?.getDescription()}"></p>
                </li>
            </ul>
        </td>
        <td th:text="${recipe.getDirections()}">directions</td>
    </tr>
    </tbody>
</table>

</body>
</html>